@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_LayoutWeb.cshtml";
}
<!-- LIGHT SECTION -->
<section class="lightSection clearfix pageHeader">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="page-title">
                    <h2 class="text-center">Nosotros</h2>
                </div>
            </div>
            <br />
            <br />
            <br />
            <div class="col-md-12">
                <div class="page-header text-center">
                    <h2>Healt Foot</h2>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="mainContent clearfix aboutUsInfo">
    <div class="container">

        <div class="row">
            <div class="col-md-6 order-sm-12">
                <img src="~/Content/Images/team.jpg" alt="about-us-img" class="rounded">
            </div>
            <div class="col-md-6 order-sm-1">
                <p class="lead"><h3>Misión</h3></p>
                <p align="justify">Ser el principal proveedor de cremas para pie diabético de México para mejorar la calidad de vida de las personas que lo padecen, así mismo dando beneficios naturales a la piel. </p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 order-sm-1">
                <img src="~/Content/Images/woman.jpg" alt="about-us-img" class="rounded">
            </div>
            <div class="col-md-6 order-sm-12">
                <p class="lead"><h3>Visión</h3></p>
                <p align="justify">Convertirnos en el principal proveedor y productor de productos naturales cicatrizantes para diabéticos en la República Mexicana.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 order-sm-12">
                <img src="~/Content/Images/job.jpg" alt="about-us-img" class="rounded">
            </div>
            <div class="col-md-6 order-sm-1">
                <p class="lead"><h3>Valores</h3></p>
                <ul class="unorder-list lists">
                    <li>Respeto</li>
                    <p align="justify">Por la salud e integridad de nuestros clientes, nuestro medio ambiente, la sociedad  y a todos nuestros colaboradores, ya que nuestro producto genera gran impacto y mejora la calidad de vida de las personas con diabetes.</p>
                    <li>Honestidad</li>
                    <p align="justify">Mostrándonos fieles y leales con nuestro equipo de trabajo y clientes</p>
                    <li>Compromiso</li>
                    <p align="justify">Para nosotros es de gran valor generar confianza con nuestros clientes y colaboradores.</p>
                    <li>Responsabilidad</li>
                    <p align="justify">Con la sociedad y el medio ambiente, ya que trabajamos de manera sustentable ofreciendo una pomada que puede mejorar la calidad de vida de las personas que padecen diabetes.</p>
                    <li>Integridad</li>
                    <p align="justify">Actuar con honestidad y ser congruente entre las palabras, decisiones y acciones con el objetivo de generar buenas relaciones.</p>
                    <li>Innovación</li>
                    <p align="justify">Mejorando continuamente nuestros proceso para ofrecer productos desarrollados con un mayor nivel de eficacia, eficiencia y efectividad.</p>
                    <li>Calidad</li>
                    <p align="justify">Mejorar e innovar los procesos con la finalidad de ofrecer la mejor pomada para pie diabético en el mercado a un precio bajo.</p>
                </ul>
            </div>
        </div>
    </div>
</section>

