
@{
    ViewBag.Title = "Administracion";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Administracion</h2>

<table class="table datatable">
    <thead>
        <tr>
            <th>Id</th>
            <th>Nombre</th>
        </tr>
    </thead>

    <tbody>
        <tr>
            <td>1</td>
            <td>Prueba</td>
        </tr>
        <tr>
            <td>2</td>
            <td>Prueba 2</td>
            
        </tr>
    </tbody>

</table>

