@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_LayoutWeb.cshtml";
}

<section class="clearfix">
    <div class="container">

        <!-- BANNER -->
        <div class="bannercontainer bannerV1">
            <div class="fullscreenbanner-container">
                <div class="fullscreenbanner">
                    <ul>
                        <li data-transition="slidehorizontal" data-slotamount="5" data-masterspeed="700" data-title="Slide 1">
                            <img src="~/Content/Images/fondo.jpg" alt="slidebg1" data-bgfit="cover" data-bgposition="center center" data-bgrepeat="no-repeat">
                            <div class="slider-caption slider-captionV1 container">

                                <div class="tp-caption rs-caption-1 sft start"
                                     data-hoffset="0"
                                     data-x="700"
                                     data-y="0"
                                     data-speed="800"
                                     data-start="1500"
                                     data-easing="Back.easeInOut"
                                     data-endspeed="300">
                                    <img src="~/Content/Images/im2.jpg" alt="slider-image" style="width: auto; height: auto;" />
                                </div>

                                <div class="tp-caption rs-caption-2 sft"
                                     data-hoffset="0"
                                     data-y="100"
                                     data-x="[15,15,42,15]"
                                     data-speed="800"
                                     data-start="2000"
                                     data-easing="Back.easeInOut"
                                     data-endspeed="300">
                                    Summer Hat
                                </div>

                                <div class="tp-caption rs-caption-3 sft"
                                     data-hoffset="0"
                                     data-y="175"
                                     data-x="[15,15,42,15]"
                                     data-speed="1000"
                                     data-start="3000"
                                     data-easing="Power4.easeOut"
                                     data-endspeed="300"
                                     data-endeasing="Power1.easeIn"
                                     data-captionhidden="off">
                                    Start From - $59.00<br>
                                    <small>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque convallis turpis pharetra pretium nec eu sem.</small>
                                </div>
                                <div class="tp-caption rs-caption-4 sft"
                                     data-hoffset="0"
                                     data-y="310"
                                     data-x="[15,15,42,15]"
                                     data-speed="800"
                                     data-start="3500"
                                     data-easing="Power4.easeOut"
                                     data-endspeed="300"
                                     data-endeasing="Power1.easeIn"
                                     data-captionhidden="off">
                                    <span class="page-scroll"><a href="#" class="btn primary-btn">Buy Now<i class="fa fa-chevron-right"></i></a></span>
                                </div>
                            </div>
                        </li>
                        <li data-transition="slidehorizontal" data-slotamount="5" data-masterspeed="700" data-title="Slide 2">
                            <img src="~/Content/Images/fondo.jpg" alt="slidebg" data-bgfit="cover" data-bgposition="center center" data-bgrepeat="no-repeat">
                            <div class="slider-caption slider-captionV1 container">
                                <div class="tp-caption rs-caption-1 sft start"
                                     data-hoffset="0"
                                     data-y="0"
                                     data-x="[15,15,42,15]"
                                     data-speed="800"
                                     data-start="1500"
                                     data-easing="Back.easeInOut"
                                     data-endspeed="300">
                                    <img src="~/Content/Images/im1.jpg" alt="slider-image" style="width: auto; height: auto;" />
                                </div>

                                <div class="tp-caption rs-caption-2 sft "
                                     data-hoffset="0"
                                     data-y="100"
                                     data-x="600"
                                     data-speed="800"
                                     data-start="2000"
                                     data-easing="Back.easeInOut"
                                     data-endspeed="300">
                                    Ladies Backpack
                                </div>

                                <div class="tp-caption rs-caption-3 sft"
                                     data-hoffset="0"
                                     data-y="175"
                                     data-x="600"
                                     data-speed="1000"
                                     data-start="3000"
                                     data-easing="Power4.easeOut"
                                     data-endspeed="300"
                                     data-endeasing="Power1.easeIn"
                                     data-captionhidden="off">
                                    Start From - $259.00 <br>
                                    <small>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque convallis turpis pharetra pretium nec eu sem.</small>
                                </div>

                                <div class="tp-caption rs-caption-4 sft"
                                     data-hoffset="0"
                                     data-y="310"
                                     data-x="600"
                                     data-speed="800"
                                     data-start="3500"
                                     data-easing="Power4.easeOut"
                                     data-endspeed="300"
                                     data-endeasing="Power1.easeIn"
                                     data-captionhidden="off">
                                    <span class="page-scroll"><a href="#" class="btn primary-btn">Buy Now<i class="fa fa-chevron-right"></i></a></span>
                                </div>
                            </div>
                        </li>
                        <li data-transition="slidehorizontal" data-slotamount="5" data-masterspeed="700" data-title="Slide 3">
                            <img src="~/Content/Images/fondo.jpg" alt="slidebg1" data-bgfit="cover" data-bgposition="center center" data-bgrepeat="no-repeat">
                            <div class="slider-caption slider-captionV1 container">

                                <div class="tp-caption rs-caption-1 sft start"
                                     data-hoffset="0"
                                     data-x="450"
                                     data-y="54"
                                     data-speed="800"
                                     data-start="1500"
                                     data-easing="Back.easeInOut"
                                     data-endspeed="300">
                                    <img src="~/Content/Images/im3.jpg" alt="slider-image" style="width: auto; height: auto;" />
                                </div>

                                <div class="tp-caption rs-caption-2 sft"
                                     data-hoffset="0"
                                     data-y="100"
                                     data-x="[15,15,42,15]"
                                     data-speed="800"
                                     data-start="2000"
                                     data-easing="Back.easeInOut"
                                     data-endspeed="300">
                                    Canvas Sneaker
                                </div>

                                <div class="tp-caption rs-caption-3 sft"
                                     data-hoffset="0"
                                     data-y="175"
                                     data-x="[15,15,42,15]"
                                     data-speed="1000"
                                     data-start="3000"
                                     data-easing="Power4.easeOut"
                                     data-endspeed="300"
                                     data-endeasing="Power1.easeIn"
                                     data-captionhidden="off">
                                    Start From - $259.00 <br>
                                    <small>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque convallis turpis pharetra pretium nec eu sem.</small>
                                </div>
                                <div class="tp-caption rs-caption-4 sft"
                                     data-hoffset="0"
                                     data-y="310"
                                     data-x="[15,15,42,15]"
                                     data-speed="800"
                                     data-start="3500"
                                     data-easing="Power4.easeOut"
                                     data-endspeed="300"
                                     data-endeasing="Power1.easeIn"
                                     data-captionhidden="off">
                                    <span class="page-scroll"><a href="#" class="btn primary-btn">Buy Now<i class="fa fa-chevron-right"></i></a></span>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- BANNER -->
        <br />

        <div class="page-header">
            <h4 class="text-center">¡Últimos Artículos!</h4>
        </div>
        <div class="row latestArticles">
            <div class="col-md-4">
                <div class="thumbnail">
                    <a href="blog-single-right-sidebar.html">
                        <img src="~/Content/Web/img/home/articles/articles-01.jpg" alt="article-image">
                    </a>
                    <div class="date-holder">
                        <p>08</p>
                        <span>NOV</span>
                    </div>
                    <h5><a href="blog-single-right-sidebar.html">Leo Vitae Nibh Malesuada.</a></h5>
                    <span class="meta"> by <a class="pr-1" href="#">Abdus</a> / <a class="pl-1" href="blog-single-right-sidebar.html">5 Comments</a></span>
                    <div class="caption">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque convallis nulla sed turpis pharetra pretium nec eu sem.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="thumbnail">
                    <a href="blog-single-right-sidebar.html">
                        <img src="~/Content/Web/img/home/articles/articles-02.jpg" alt="article-image">
                    </a>
                    <div class="date-holder">
                        <p>29</p>
                        <span>OCT</span>
                    </div>
                    <h5><a href="blog-single-right-sidebar.html">Malesuada Pulvinar Quis Fring.</a></h5>
                    <span class="meta"> by <a class="pr-1" href="#">Abdus</a> / <a class="pl-1" href="blog-single-right-sidebar.html">4 Comments</a></span>
                    <div class="caption">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque convallis nulla sed turpis pharetra pretium nec eu sem.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="thumbnail">
                    <a href="blog-single-right-sidebar.html">
                        <img src="~/Content/Web/img/home/articles/articles-03.jpg" alt="article-image">
                    </a>
                    <div class="date-holder">
                        <p>15</p>
                        <span>Sep</span>
                    </div>
                    <h5><a href="blog-single-right-sidebar.html">Proin Lectus Sed Tincidunt Auctor.</a></h5>
                    <span class="meta"> by <a class="pr-1" href="#">Abdus</a> / <a class="pl-1" href="blog-single-right-sidebar.html">3 Comments</a></span>
                    <div class="caption">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque convallis nulla sed turpis pharetra pretium nec eu sem.</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="page-header">
            <h4 class="text-center">¡Los más vendidos!</h4>
        </div>

        <div class="row featuredCollection margin-bottom">
            <div class="col-md-4 col-12">
                <div class="thumbnail" onclick="if (!window.__cfRLUnblockHandlers) return false; location.href='single-product.html';" data-cf-modified-1e604943fa434b895533a351-="">
                    <div class="imageWrapper">
                        <img src="~/Content/Images/im4.jpeg">
                        <div class="caption">
                            <h3>Crema Para Pies</h3>
                            <small>Start From $59.00</small>
                        </div>
                        <div class="masking">
                            <a href="product-grid-left-sidebar.html" class="btn viewBtn">View Products</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-12">
                <div class="thumbnail" onclick="if (!window.__cfRLUnblockHandlers) return false; location.href='single-product.html';" data-cf-modified-1e604943fa434b895533a351-="">
                    <div class="imageWrapper">
                        <img src="~/Content/Images/im4.jpeg">
                        <div class="caption">
                            <h3>Crema Para Pies</h3>
                            <small>Start From $150.00</small>
                        </div>
                        <div class="masking">
                            <a href="product-grid-left-sidebar.html" class="btn viewBtn">View Products</a>
                        </div>
                    </div>

                </div>
            </div>
            <div class="col-md-4 col-12">
                <div class="thumbnail" onclick="if (!window.__cfRLUnblockHandlers) return false; location.href='single-product.html';" data-cf-modified-1e604943fa434b895533a351-="">
                    <div class="imageWrapper">
                        <img src="~/Content/Images/im4.jpeg">
                        <div class="caption">
                            <h3>Crema Para Pies</h3>
                            <small>Start From $25.00</small>
                        </div>
                        <div class="masking">
                            <a href="product-grid-left-sidebar.html" class="btn viewBtn">View Products</a>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <div class="page-header">
            <h4 class="text-center">Sugerencias</h4>
        </div>

        <div class="row featuredProducts featuredProductsSlider margin-bottom">
            <div class="slide col-md-3">
                <div class="productImage clearfix">
                    <img src="~/Content/Web/img/home/featured-product/product-01.jpg" alt="featured-product-img">
                    <div class="productMasking">
                        <ul class="list-inline btn-group" role="group">
                            <li><a class="btn btn-default btn-wishlist"><i class="fa fa-heart-o"></i></a></li>
                            <li><a href="javascript:void(0)" class="btn btn-default" data-toast data-toast-type="success" data-toast-position="topRight" data-toast-icon="icon-circle-check" data-toast-title="Product" data-toast-message="successfuly added to cart!"><i class="fa fa-shopping-basket"></i></a></li>
                            <li><a data-toggle="modal" href="-2.html" class="btn btn-default"><i class="fa fa-eye"></i></a></li>
                        </ul>
                    </div>
                </div>
                <div class="productCaption clearfix">
                    <a href="single-product.html">
                        <h4>Nike Sportswear</h4>
                    </a>
                    <h3>$199.00</h3>
                </div>
            </div>
            <div class="slide col-md-3">
                <div class="productImage">
                    <img src="~/Content/Web/img/home/featured-product/product-02.jpg" alt="featured-product-img">
                    <div class="productMasking">
                        <ul class="list-inline btn-group" role="group">
                            <li><a class="btn btn-default btn-wishlist"><i class="fa fa-heart-o"></i></a></li>
                            <li><a href="javascript:void(0)" class="btn btn-default" data-toast data-toast-type="success" data-toast-position="topRight" data-toast-icon="icon-circle-check" data-toast-title="Product" data-toast-message="successfuly added to cart!" class="btn btn-default"><i class="fa fa-shopping-basket"></i></a></li>
                            <li><a data-toggle="modal" href="-2.html" class="btn btn-default"><i class="fa fa-eye"></i></a></li>
                        </ul>
                    </div>
                </div>
                <div class="productCaption">
                    <a href="single-product.html">
                        <h4>Dip Dyed Sweater</h4>
                    </a>
                    <h3>$149.00</h3>
                </div>
            </div>
            <div class="slide col-md-3">
                <div class="productImage">
                    <img src="~/Content/Web/img/home/featured-product/product-03.jpg" alt="featured-product-img">
                    <div class="productMasking">
                        <ul class="list-inline btn-group" role="group">
                            <li><a class="btn btn-default btn-wishlist"><i class="fa fa-heart-o"></i></a></li>
                            <li><a href="javascript:void(0)" class="btn btn-default" data-toast data-toast-type="success" data-toast-position="topRight" data-toast-icon="icon-circle-check" data-toast-title="Product" data-toast-message="successfuly added to cart!" class="btn btn-default"><i class="fa fa-shopping-basket"></i></a></li>
                            <li><a data-toggle="modal" href="-2.html" class="btn btn-default"><i class="fa fa-eye"></i></a></li>
                        </ul>
                    </div>
                </div>
                <div class="productCaption">
                    <a href="single-product.html">
                        <h4>Scarf Ring Corner</h4>
                    </a>
                    <h3>$79</h3>
                </div>
            </div>
            <div class="slide col-md-3">
                <div class="productImage">
                    <img src="~/Content/Web/img/home/featured-product/product-04.jpg" alt="featured-product-img">
                    <div class="productMasking">
                        <ul class="list-inline btn-group" role="group">
                            <li><a class="btn btn-default btn-wishlist"><i class="fa fa-heart-o"></i></a></li>
                            <li><a href="javascript:void(0)" class="btn btn-default" data-toast data-toast-type="success" data-toast-position="topRight" data-toast-icon="icon-circle-check" data-toast-title="Product" data-toast-message="successfuly added to cart!" class="btn btn-default"><i class="fa fa-shopping-basket"></i></a></li>
                            <li><a data-toggle="modal" href="-2.html" class="btn btn-default"><i class="fa fa-eye"></i></a></li>
                        </ul>
                    </div>
                </div>
                <div class="productCaption">
                    <a href="single-product.html">
                        <h4>Sun Buddies</h4>
                    </a>
                    <h3>$109</h3>
                </div>
            </div>
            <div class="slide col-md-3">
                <div class="productImage">
                    <img src="~/Content/Web/img/home/featured-product/product-05.jpg" alt="featured-product-img">
                    <div class="productMasking">
                        <ul class="list-inline btn-group" role="group">
                            <li><a class="btn btn-default btn-wishlist"><i class="fa fa-heart-o"></i></a></li>
                            <li><a href="javascript:void(0)" class="btn btn-default" data-toast data-toast-type="success" data-toast-position="topRight" data-toast-icon="icon-circle-check" data-toast-title="Product" data-toast-message="successfuly added to cart!" class="btn btn-default"><i class="fa fa-shopping-basket"></i></a></li>
                            <li><a data-toggle="modal" href="-2.html" class="btn btn-default"><i class="fa fa-eye"></i></a></li>
                        </ul>
                    </div>
                </div>
                <div class="productCaption">
                    <a href="single-product.html">
                        <h4>Scarf Ring Corner</h4>
                    </a>
                    <h3>$79</h3>
                </div>
            </div>
            <div class="slide col-md-3">
                <div class="productImage">
                    <img src="~/Content/Web/img/home/featured-product/product-06.jpg" alt="featured-product-img">
                    <div class="productMasking">
                        <ul class="list-inline btn-group" role="group">
                            <li><a class="btn btn-default btn-wishlist"><i class="fa fa-heart-o"></i></a></li>
                            <li><a href="javascript:void(0)" class="btn btn-default" data-toast data-toast-type="success" data-toast-position="topRight" data-toast-icon="icon-circle-check" data-toast-title="Product" data-toast-message="successfuly added to cart!" class="btn btn-default"><i class="fa fa-shopping-basket"></i></a></li>
                            <li><a data-toggle="modal" href="-2.html" class="btn btn-default"><i class="fa fa-eye"></i></a></li>
                        </ul>
                    </div>
                </div>
                <div class="productCaption">
                    <a href="single-product.html">
                        <h4>Scarf Ring Corner</h4>
                    </a>
                    <h3>$79</h3>
                </div>
            </div>
            <div class="slide col-md-3">
                <div class="productImage">
                    <img src="~/Content/Web/img/home/featured-product/product-07.jpg" alt="featured-product-img">
                    <div class="productMasking">
                        <ul class="list-inline btn-group" role="group">
                            <li><a class="btn btn-default btn-wishlist"><i class="fa fa-heart-o"></i></a></li>
                            <li><a href="javascript:void(0)" class="btn btn-default" data-toast data-toast-type="success" data-toast-position="topRight" data-toast-icon="icon-circle-check" data-toast-title="Product" data-toast-message="successfuly added to cart!" class="btn btn-default"><i class="fa fa-shopping-basket"></i></a></li>
                            <li><a data-toggle="modal" href="-2.html" class="btn btn-default"><i class="fa fa-eye"></i></a></li>
                        </ul>
                    </div>
                </div>
                <div class="productCaption">
                    <a href="single-product.html">
                        <h4>Scarf Ring Corner</h4>
                    </a>
                    <h3>$79</h3>
                </div>
            </div>
            <div class="slide col-md-3">
                <div class="productImage">
                    <img src="~/Content/Web/img/home/featured-product/product-09.jpg" alt="featured-product-img">
                    <div class="productMasking">
                        <ul class="list-inline btn-group" role="group">
                            <li><a class="btn btn-default btn-wishlist"><i class="fa fa-heart-o"></i></a></li>
                            <li><a href="javascript:void(0)" class="btn btn-default" data-toast data-toast-type="success" data-toast-position="topRight" data-toast-icon="icon-circle-check" data-toast-title="Product" data-toast-message="successfuly added to cart!" class="btn btn-default"><i class="fa fa-shopping-basket"></i></a></li>
                            <li><a data-toggle="modal" href="-2.html" class="btn btn-default"><i class="fa fa-eye"></i></a></li>
                        </ul>
                    </div>
                </div>
                <div class="productCaption">
                    <a href="single-product.html">
                        <h4>Scarf Ring Corner</h4>
                    </a>
                    <h3>$79</h3>
                </div>
            </div>
        </div>




    </div>
</section>