
@{
    ViewBag.Title = "ProductoDetail";
    Layout = "~/Views/Shared/_LayoutWeb.cshtml";
}

<!-- LIGHT SECTION -->
<section class="lightSection clearfix pageHeader">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="page-title">
                    <h2 class="text-center">Detalle de Producto</h2>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- MAIN CONTENT SECTION -->
<section class="mainContent clearfix">
    <div class="container">
        <div class="row singleProduct">
            <div class="col-md-12">
                <div class="media flex-wrap">
                    <div class="media-left productSlider">
                        <div id="carousel" class="carousel slide" data-ride="carousel">
                            <div class="carousel-inner">
                                <div class="carousel-item active" data-thumb="0">
                                    <img src="~/Content/Images/im4.jpeg">
                                </div>
                                <div class="carousel-item" data-thumb="1">
                                    <img src="~/Content/Images/im4.jpeg">
                                </div>
                                <div class="carousel-item" data-thumb="2">
                                    <img src="~/Content/Images/im4.jpeg">
                                </div>
                                <div class="carousel-item" data-thumb="3">
                                    <img src="~/Content/Images/im4.jpeg">
                                </div>
                            </div>
                        </div>
                        <div class="clearfix">
                            <div id="thumbcarousel" class="carousel slide" data-interval="false">
                                <div class="carousel-inner">
                                    <div data-target="#carousel" data-slide-to="0" class="thumb"><img src="~/Content/Images/im4.jpeg"></div>
                                    <div data-target="#carousel" data-slide-to="1" class="thumb"><img src="~/Content/Images/im4.jpeg"></div>
                                    <div data-target="#carousel" data-slide-to="2" class="thumb"><img src="~/Content/Images/im4.jpeg"></div>
                                    <div data-target="#carousel" data-slide-to="3" class="thumb"><img src="~/Content/Images/im4.jpeg"></div>
                                </div>
                                <a class="left carousel-control" href="#thumbcarousel" role="button" data-slide="prev">
                                    <span class="glyphicon glyphicon-chevron-left"></span>
                                </a>
                                <a class="right carousel-control" href="#thumbcarousel" role="button" data-slide="next">
                                    <span class="glyphicon glyphicon-chevron-right"></span>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="media-body">
                        <h2>Nombre del producto</h2>
                        <h3>$0.00</h3>
                        <p>Características</p>
                        <p>Disponibles:
                            <input type="text" class="form-control" id="cantidadDisp" placeholder="6" readonly>
                        </p>
                        <span class="quick-drop resizeWidth">
                            <select name="guiest_id4" id="guiest_id4" class="select-drop form-control">
                                <option value="0">Cantidad</option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                            </select>
                        </span>
                        <div class="btn-area">
                            <a href="#" class="btn btn-primary btn-default">Agregar al carrito </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="page-header">
            <h4 class="text-center">Productos Relacionados</h4>
        </div>
        <div class="row productsContent">

            <div class="col-md-3 col-12 ">
                <div class="productBox">
                    <div class="productImage clearfix">
                        <img src="~/Content/Images/p1.jpg" alt="products-img">
                        <div class="productMasking">
                            <ul class="list-inline btn-group" role="group">
                                <li><a href="cart-page.html" class="btn btn-default"><i class="fa fa-shopping-cart"></i></a></li>
                                <li><a class="btn btn-default" data-toggle="modal" href="-2.html"><i class="fa fa-eye"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="productCaption clearfix">
                        <h5>Nike Sportswear</h5>
                        <h3>$199</h3>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-12 ">
                <div class="productBox">
                    <div class="productImage clearfix">
                        <img src="~/Content/Images/p2.jpg" alt="products-img">
                        <div class="productMasking">
                            <ul class="list-inline btn-group" role="group">
                                <li><a href="cart-page.html" class="btn btn-default"><i class="fa fa-shopping-cart"></i></a></li>
                                <li><a class="btn btn-default" data-toggle="modal" href="-2.html"><i class="fa fa-eye"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="productCaption clearfix">
                        <h5>Dip Dyed Sweater</h5>
                        <h3>$249</h3>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-12 ">
                <div class="productBox">
                    <div class="productImage clearfix">
                        <img src="~/Content/Images/p3.jpg" alt="products-img">
                        <div class="productMasking">
                            <ul class="list-inline btn-group" role="group">
                                <li><a href="cart-page.html" class="btn btn-default"><i class="fa fa-shopping-cart"></i></a></li>
                                <li><a class="btn btn-default" data-toggle="modal" href="-2.html"><i class="fa fa-eye"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="productCaption clearfix">
                        <h5>Scarf Ring Corner</h5>
                        <h3>$179</h3>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-12 ">
                <div class="productBox">
                    <div class="productImage clearfix">
                        <img src="~/Content/Images/p4.jpg" alt="products-img">
                        <div class="productMasking">
                            <ul class="list-inline btn-group" role="group">
                                <li><a href="cart-page.html" class="btn btn-default"><i class="fa fa-shopping-cart"></i></a></li>
                                <li><a class="btn btn-default" data-toggle="modal" href="-2.html"><i class="fa fa-eye"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="productCaption clearfix">
                        <h5>Sun Buddies</h5>
                        <h3>$149</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

