
@{
    ViewBag.Title = "Proveedores";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<div class="row">
    <div class="col-md-12 text-center my-3">
        <h2>Agregar proveedores</h2>
    </div>
    <div class="col-md-6 mx-auto">
        <form>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label for="inp-name">Nombre</label>
                        <input type="text" class="form-control" id="inp-name" placeholder="Nombre">
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="form-group">
                        <label for="inp-phone">Telefono</label>
                        <input type="number" class="form-control" id="inp-phone" placeholder="Telefono">
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="form-group">
                        <label for="inp-rfc">RFC</label>
                        <input type="text" class="form-control" id="inp-rfc" placeholder="RFC">
                    </div>
                </div>
                <div class="col-md-12 text-center">
                    <button type="submit" class="btn btn-primary rounded">
                        Agregar
                    </button>

                </div>
            </div>
        </form>
    </div>
</div>
