
@{
    ViewBag.Title = "Cart";
    Layout = "~/Views/Shared/_LayoutWeb.cshtml";
}
<body class="body-wrapper version1">

    <div class="main-wrapper">

        <!-- LIGHT SECTION -->
        <section class="lightSection clearfix pageHeader">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="page-title">
                            <h2 class="text-center">Carrito</h2>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- MAIN CONTENT SECTION -->
        <section class="mainContent clearfix cartListWrapper">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="cartListInner">
                            <form action="#">
                                <div class="table-responsive">
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th class="text-center">Producto</th>
                                                <th class="text-center">Nombre del Producto</th>
                                                <th class="text-center">Precio</th>
                                                <th class="text-center">Cantidad</th>
                                                <th class="text-center">Subtotal</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td class="">
                                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                                    <span class="cartImage"><img src="#" alt="image"></span>
                                                </td>
                                                <td class="">Italian Winter Hat</td>
                                                <td class="">$ 99.00</td>
                                                <td class="count-input">
                                                    <a class="incr-btn" data-action="decrease" href="#"><i class="fa fa-minus"></i></a>
                                                    <input class="quantity" type="text" value="1">
                                                    <a class="incr-btn" data-action="increase" href="#"><i class="fa fa-plus"></i></a>
                                                </td>
                                                <td class="">$ 99.00</td>
                                            </tr>
                                            <tr>
                                                <td class="">
                                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                                    <span class="cartImage"><img src="#" alt="image"></span>
                                                </td>
                                                <td class="">Italian Winter Hat</td>
                                                <td class="">$ 99.00</td>
                                                <td class="count-input">
                                                    <a class="incr-btn" data-action="decrease" href="#"><i class="fa fa-minus"></i></a>
                                                    <input class="quantity" type="text" value="1">
                                                    <a class="incr-btn" data-action="increase" href="#"><i class="fa fa-plus"></i></a>
                                                </td>
                                                <td class="">$ 99.00</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="row totalAmountArea">
                                    <div class="col-sm-4 ml-sm-auto">
                                        <ul class="list-unstyled">
                                            <li>Subtotal <span>$ 0.00</span></li>
                                            <li>IVA<span>$ 0.00</span></li>
                                            <li>Total <span class="grandTotal">$ 0.00</span></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="checkBtnArea">
                                    <a href="#" class="btn btn-primary">Comprar<i class="fa fa-arrow-circle-right" aria-hidden="true"></i></a>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </section>

    </div>
</body>