@using Web.HealthFoot.Models

@{
    ViewBag.Title = "Crear Usuario";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

@section botones{

    <div class="row">
        <div class="col-md-12">

            @Html.ActionLink("Crear", "Store", "Usuarios", new { @class = "btn btn-primary" })
            @Html.ActionLink("Cancelar", "List", "Usuarios", new { @class = "btn btn-danger" })

        </div>
    </div>
}

<div class="col-12 container">

    <h2>Usuario</h2>

</div>

<div class="col-12">

    <label>Detalle de Usuario</label>

</div>

<div class="container card border border-dark">

    <div class="col-12 p-4">

        <div class="col-12">

            <div class="form-group row">
                <label for="example-text-input" class="col-sm-2 col-form-label">
                    Nombre:
                </label>
                <div class="col-sm-10">
                    <input class="form-control form-control-sm" type="text" placeholder="Introduzca nombre del usuario" id="Nombre" name="Nombre">
                </div>
            </div>

            <div class="form-group row">
                <label for="example-text-input" class="col-sm-2 col-form-label">
                    Apellido Paterno:
                </label>
                <div class="col-sm-10">
                    <input class="form-control form-control-sm" type="text" placeholder="Introduzca apellido paterno del usuario" id="ApellidoP" name="ApellidoP">
                </div>
            </div>

            <div class="form-group row">
                <label for="example-text-input" class="col-sm-2 col-form-label">
                    Apellido Materno:
                </label>
                <div class="col-sm-10">
                    <input class="form-control form-control-sm" type="text" placeholder="Introduzca apellido materno del usuario" id="ApellidoM" name="ApellidoM">
                </div>
            </div>

            <div class="form-group row">
                <label for="example-text-input" class="col-sm-2 col-form-label">
                    Email:
                </label>
                <div class="col-sm-10">
                    <input class="form-control form-control-sm" type="text" placeholder="Introduzca email del usuario" id="Email" name="Email">
                </div>
            </div>

            <div class="form-group row">

                <label class="col-sm-2 col-form-label">
                    Status
                </label>

                <div class="col-sm-10">

                    <div class="custom-control custom-radio custom-control-inline">

                        <input type="radio" id="Status1" name="Status1" class="custom-control-input">
                        <label class="custom-control-label" for="Status1">
                            Activo
                        </label>

                    </div>

                    <div class="custom-control custom-radio custom-control-inline">

                        <input type="radio" id="Status2" name="Status1" class="custom-control-input">
                        <label class="custom-control-label" for="Status2">
                            Desactivo
                        </label>

                    </div>

                </div>

            </div>

        </div>

    </div>

</div>

<div class="col-12">

    <label>Contraseña</label>

</div>

<div class="container card border border-dark">

    <div class="col-12 p-4">

        <div class="col-12">

            <div class="form-group row">
                <label for="example-text-input" class="col-sm-2 col-form-label">
                    Contraseña:
                </label>
                <div class="col-sm-10">
                    <input class="form-control form-control-sm" type="text" placeholder="Introduzca nueva contraseña" id="Password" name="Password">
                </div>
            </div>

            <div class="form-group row">
                <label for="example-text-input" class="col-sm-2 col-form-label">
                    Confirmar:
                </label>
                <div class="col-sm-10">
                    <input class="form-control form-control-sm" type="text" placeholder="Vuelva a introducir su contraseña" id="Confirmar" name="Condirmar">
                </div>
            </div>

        </div>

    </div>

</div>

<div class="col-12">

    <label>Información de acceso</label>

</div>

<div class="container card border border-dark">

    <div class="col-12 p-4">

        <div class="col-12">

            <div class="form-group row">
                <label class="col-sm-2 col-form-label">
                    Rol
                </label>
                <div class="col-sm-10">
                    <select class="form-control">

                        <option selected>Seleccione Un Rol</option>

                        @foreach (Rol Rol in ViewBag.Rol)
                        {

                            <option value="@Rol.Id">@Rol.Nombre</option>

                        }

                    </select>
                </div>
            </div>

        </div>

    </div>

</div>

